EXPO_PUBLIC_API_URL=https://api.plantathome.in
EXPO_PUBLIC_APP_NAME=PlantAtHome
EXPO_PUBLIC_RAZORPAY_KEY_ID=rzp_live_YOUR_KEY_HERE
EXPO_PUBLIC_SUPPORT_EMAIL=support@plantathome.in
EXPO_PUBLIC_SUPPORT_PHONE=+91-XXXXXXXXXX
